{% extends "_base.html" %}

{% block content %}
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-white">
      Create your "pro" account
    </h2>
    <p class="mt-2 text-center text-sm text-gray-400">
      To save your scenario and unlock your "pro" ledger.
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="rounded-lg bg-gray-800 px-6 py-8 shadow sm:px-10">

      <form class="space-y-6" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}

        {% for field in form %}
        <div>
          <label for="{{ field.id_for_label }}" class="block text-sm font-medium leading-6 text-white">
            {{ field.label }}
          </label>
          <div class="mt-2">
            {{ field }} 
          </div>
          {% if field.errors %}
            <p class="mt-1 text-sm text-red-400">{{ field.errors.as_text }}</p>
          {% endif %}
        </div>
        {% endfor %}

        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-green-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-400">
            Sign Up
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock content %}